streamlit
pandas
requests
matplotlib
xlsxwriter
xlsx2csv
urllib3
cx_Oracle 
mysql-connector-python 
pymysql 
pyodbc 
pymssql 
pymongo 
cassandra-driver 
redis 
boto3 
couchbase 
elasticsearch 
sqlalchemy
python-gitlab
pypdf
PyPDF2
seaborn
openpyxl
pdfplumber
pexpect
plotly
dash
dash-core-components
dash-html-components
dash-table

